        <div class="container team-profile">
            <div class="row">
                <div class="col-4" *ngFor="let t of Teams">
                    <div class="team-10">
                        <div class="team-img">
                            <img src={{t.Image}} alt="Team Image">
                        </div>
                        <div class="team-content">
                            <h2>{{t.Name}}</h2>
                            <h3>{{t.email}}</h3>
                            <div class="team-overlay">
                                <p>{{t.description}}</p>
                                <div class="team-social">
                                    <a class="social-li" href="https://www.linkedin.com/in/kodandaramuvp/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <a class="social-gi" href="https://github.com/ramu450" target="_blank"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-4">
                    <div class="team-10">
                        <div class="team-img">
                            <img src="../../assets/images/Puneeth.jpg" alt="Team Image">
                        </div>
                        <div class="team-content">
                            <h2>Puneeth Pavan</h2>
                            <h3>Server Side Developer</h3>
                            <div class="team-overlay">
                                <p>Learn Front end ,Master Backend, Enjoy the Weekend</p>
                                <div class="team-social">
                                    <a class="social-li" href="https://www.linkedin.com/in/puneeth-pavan" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <a class="social-gi" href=""><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="team-10">
                        <div class="team-img">
                            <img src="../../assets/images/Nitya.jpeg" alt="Team Image">
                        </div>
                        <div class="team-content">
                            <h2>Nitya Chanda</h2>
                            <h3>Developer</h3>
                            <div class="team-overlay">
                                <p>Strategy is not a solo sport, even if you’re the CEO!</p>
                                <div class="team-social">
                                    <a class="social-li" href="https://www.linkedin.com/in/nithya-santhoshini-chanda-125858172" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <a class="social-gi" href=""><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="team-10">
                        <div class="team-img img-fluid">
                            <img src="../../assets/images/Shrav.jpg" alt="Team Image">
                        </div>
                        <div class="team-content">
                            <h2>Sai Shravanth</h2>
                            <h3>React Developer</h3>
                            <div class="team-overlay">
                                <p>Hardwork is worthless for those that don't believe in themselves</p>
                                <div class="team-social">
                                    <a class="social-li" href="https://www.linkedin.com/in/sai-shravanth-reddy-aenneypally-8a074a21b/" target="_blank"><i class="bi bi-linkedin" ></i></a>
                                    <a class="social-gi" href=""><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="team-10">
                        <div class="team-img">
                            <img src="../../assets/images/Nanda.jpg" alt="Team Image">
                        </div>
                        <div class="team-content">
                            <h2>Nanda</h2>
                            <h3>Developer</h3>
                            <div class="team-overlay">
                                <p>work smart with heart and have the success pot</p>
                                <div class="team-social">
                                    <a class="social-li" href="www.linkedin.com/in/nanda-kanakamedala-367647126" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <a class="social-gi" href=""><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div> 
        </div>