
  <div class="about bg-transparent px-4 py-5 text-center">
    <div class="py-2">
      <h1 class="display-5 fw-bold">Secure Full-Stack Web Application for Consortium Blockchain</h1>
      <div class="col-lg-6 mx-auto mt-5">
        <p class="fs-5">A blockchain is essentially a digital ledger of transactions that is duplicated and distributed across the entire network of computer systems on the blockchain. Each block in the chain contains several transactions, and every time a new transaction occurs on the blockchain, a record of that transaction is added to every participant’s ledger. It provides immutability, traceability, tamper resistance, transparency, and efficiency to store data that can serve as a general ledger for diverse fields of applications. The goal of this project is to re-design and expand the full-stack Web client for storing files in the blockchain and implement a wallet for use by the Web server to submit transactions to the smart contracts of the blockchain.</p>
      </div>
    </div>
  </div>