
<header class="site-header sticky-top">
    <div class="p-1 bg-light rounded-3">
      <div class="container-fluid text-center">
        <h1>Code Phantoms</h1>
      </div>
    </div>

  <nav class="wrapper bg-dark d-flex flex-row justify-content-between p-3">
    <a class="p-1 d-inline-block" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a class="p-1 d-inline-block" routerLink="mentor" routerLinkActive="active">Mentor</a>
    <a class="p-1 d-inline-block" routerLink="team" routerLinkActive="active">Team</a>
    <a class="p-1 d-inline-block" routerLink="meeting" routerLinkActive="active">Meeting</a>
    <a class="p-1 d-inline-block" routerLink="milestone" routerLinkActive="active">MileStone</a>
    <a class="p-1 d-inline-block" routerLink="resource" routerLinkActive="active">Resources</a>
  </nav>
</header>
